[submodule "backend"]
	path = backend
	url = https://github.com/Alim15/PetProject-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Alim15/PetProject-frontend.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/Alim15/PetProject-mobile.git
